@font-face {
  font-display: swap;
  font-family: Manrope;
  font-style: bold;
  font-weight: 700;
  src: url('/fonts/Manrope-Bold.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Manrope-Medium.ttf') format('truetype');
}
