@import 'variables/colors';

@import 'variables/paddings';

@import 'variables/sizes';

@import 'variables/breakpoints';

@import './normalizer';

@import './fonts.scss';

@import './layout';

:root {
  //This could later be useful to set it through JS
  --storage-percentage-filled: 75%;
}

body {
  color: $white;
  font-family: Raleway, sans-serif;
  font-size: 14px;
}

.main-container {
  align-items: center;
  background:  $haiti;
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;

  &::after {
    content: url('../img/bg-desktop.png');
    bottom: 0;
    height: 50vh;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  @include md {
    background: url('../img/bg-mobile.png') no-repeat center center/cover;

    &::after {
      content: unset;
    }
  }
}

.main-section {
  align-items: flex-end;
  display: flex;
  justify-content: center;

  @include md {
    align-items: center;
    flex-direction: column;
  }
}

.uploader,
.storage {
  z-index: 5;
}

.uploader {
  background: $biscay;
  border-radius: $border-radius 100px $border-radius $border-radius;
  max-width: 350px;
  padding: 40px;
  width: 100%;

  @include md {
    margin: 0;
    margin-bottom: 20px;
  }
}

.uploader-title {
  opacity: 0;
  z-index: -1;
}

.uploader-logo {
  height: 45px;
  width: 140px;
}

.uploader-actions-btn {

  button {
    align-items: center;
    background: $haiti;
    border-radius: $border-radius;
    display: flex;
    height: 48px;
    justify-content: center;
    width: 48px;

    &:hover {
      cursor: pointer;
    }
  }
}

.storage {
  background: $biscay;
  border-radius: $border-radius;
  color: $fog;
  display: flex;
  flex-direction: column;
  max-width: 540px;
  padding: $storage-padding;
  position: relative;
  width: 100%;

  @include md {
    padding-bottom: 55px;
    max-width: 350px;
    text-align: center;
  }
}

.storage-title {
  margin-bottom: 18px;

  span {
    color: $white;
    font-weight: bold;
  }

  &::first-letter {
    text-transform: uppercase;
  }
}

.storage-bar {
  background: $haiti;
  border: 2px solid $haiti;
  border-radius: $border-radius;
  height: 18px;
  margin-bottom: 8px;
  position: relative;
  width: 100%;

  &::after {
    background: linear-gradient(to right, $mona-lisa, $wild-strawberry);
    border-radius: $border-radius;
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    width: var(--storage-percentage-filled);
  }

  &::before {
    content: '';
    background: $white;
    border-radius: 50%;
    height: 10px;
    position: absolute;
    top: 50%;
    transform: translate(calc(-100% - 2px), -50%);
    left: var(--storage-percentage-filled);
    width: 10px;
    z-index: 5;
  }
}

.storage-bar-msg {
  color: $waterloo;
  background: $white;
  border-radius: $border-radius;
  bottom: calc(100% - #{$storage-padding} + 20px);
  height: 70px;
  position: absolute;
  right: $storage-padding;
  width: 180px;
  z-index: 5;

  span:first-child {
    color: $haiti;
    font-size: 35px;
  }

  span:last-child {
    font-size: 12px;
  }

  &::after {
    border-right: 30px solid $white;
    border-bottom: 30px solid transparent;
    top: calc(100% - #{$border-radius});
    content: '';
    position: absolute;
    right: 0;
  }

  @include md {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);

    &::after {
      content: unset;
    }
  }
}

.attribution {
  font-size: 11px;
  bottom: 0;
  left: 0;
  padding: 10px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 5;
}
