.row {
  display: flex;

  &.middle {
    align-items: center;
  }

  &.bottom {
    align-items: flex-end;
  }

  &.center {
    justify-content: center;
  }

  &.space-between {
    justify-content: space-between;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
}

@for $i from 1 through 10 {
  .m-bottom-#{$i} {
    margin-bottom: #{10 * $i / 2}px;
  }

  .m-right-#{$i} {
    margin-right: #{10 * $i / 2}px;
  }
}
