* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}

body {
  font-family: Manrope;
  font-size: 13px;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li,
ol {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

button {
  border: 0;
}
